@font-face {
  font-family: Google_Sans;
  src: url(https://res.cloudinary.com/yeungon/raw/upload/v1665459305/font/Vietnamese_Good_GoogleSans-Regular.ttf);

}

@font-face {
  font-family: adelle;
  src: url(https://res.cloudinary.com/yeungon/raw/upload/v1662636833/font/vietnamese_adelleSansEXT-Regular.otf);
}

@font-face {
  font-family: SVN_Futura_Regular;
  src: url(https://res.cloudinary.com/yeungon/raw/upload/v1665936770/font/SFUFuturaRegular.TTF)
}

* {
  font-family: var(--font_common);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;  
}

:root {
  --font_adelle: adelle;
  --font_sans: Google_Sans;
  --font_futura: SVN_Futura_Regular;  
  --font_common: var(--font_adelle)!important; 
}

.adelle {
  font-family: adelle;
}

.font_tiengviet-style {
  font-family: var(--font_futura);
}

.inform {
  color: #009688;  
}

.btn-search {
  display: inline-block;
  /* Or block, if you need */
  align-items: center;
  height: 38px;
  color: #fff;
  background-color: #612ef8;
  padding: 2px 15px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.btn-search:hover {
  transform: scale(1.1);
  background-color: #29039c;
}

.form-control {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#input_search {
  padding: 12px 0 12px 15px;
  max-width: 575px;
  background-color: #fffcf4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-top: 2rem;
  /* Adding a soft shadow */
}


@media (max-width: 480px) {
  /* Styles for ultra-small devices */

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .header {
    display: none;
  }
}



/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {}



/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {}



/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {}



/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}