@font-face {
  font-family: sans;
  src: url(https://res.cloudinary.com/yeungon/raw/upload/v1665459305/font/Vietnamese_Good_GoogleSans-Regular.ttf);

}

@font-face {
    font-family: adelle;
    src: url(https://res.cloudinary.com/yeungon/raw/upload/v1662636833/font/vietnamese_adelleSansEXT-Regular.otf);
}

:root{
  --font_sans: adelle,
}

*{
  font-family: var(--font_sans);
}

.adelle{
  font-family:var(--font_sans);
}


  .inform{
    color: #612ef8;    
  }

  .btn-search{
    display: flex;
    align-items: center;
    height: 38px;
    color: #fff;
    background-color: #612ef8;
    padding: 2px 15px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
  }

  .form-control {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }