{{define "content"}}
<div class="container">
<div>    
    <p>
      Dự án khối liệu lớn Tiếng Việt xin cảm ơn các nguồn tài liệu tham khảo đã hỗ trợ.
    </p>
    <div>Source of data: 
		<a href ="https://s.ngonngu.net">S</a>
        <a href ="https://github.com/binhvq/news-corpus">news-corpus</a>
        <a href ="https://opus.nlpl.eu/WikiMatrix/corpus/version/WikiMatrix">WikiMatrix</a>   
        <a href ="https://huggingface.co/datasets/phongmt184172/mtet">mtet</a>   
		<a href ="https://www.kaggle.com/datasets?search=vietnamese">kaggle</a> 
		<a href ="https://www.kaggle.com/code/huhuyngun/english-to-vietnamese-with-transformer/">en-vi</a> 		
		<a href = "https://www.kaggle.com/datasets/haitranquangofficial/vietnamese-online-news-dataset">online-news</a>
		<a href = "https://github.com/VietnamAIHub/Vietnamese_LLMs">Vietnamese_LLMs</a>	
    </div>
  </div>
</div>

<style>
	/* Remove the undeline of the list */
	li a {
    	text-decoration: none;
	}
</style>
{{end}}