{{define "content"}}
<div class="container">
	<div class = "about-wrap">
		<p>Dự án ViCorpora tại <a href="https://tiengviet.io.vn">https://tiengviet.io.vn</a> cung cấp khối liệu với dung
			lượng lớn cùng tính năng KWIC (Keyword in context) </p>
		<p>ViCorpora là một công cụ mạnh mẽ hỗ trợ nghiên cứu và phân tích ngôn ngữ học. Một trong những tính năng
			nổi bật của nó là KWIC (Key Word in Context) Concordance. Tính năng này cho phép người dùng tìm kiếm và hiển
			thị các từ khóa trong ngữ cảnh của chúng, giúp hiểu rõ cách một từ hoặc cụm từ được sử dụng trong các văn
			bản thực tế.
		</p>

		<p>KWIC Concordance cung cấp danh sách các câu hoặc đoạn văn có chứa từ khóa, với từ khóa được hiển thị ở vị
			trí trung tâm và các từ xung quanh được sắp xếp dễ dàng so sánh. Điều này rất hữu ích cho việc:
		</p>
		<ul>
			<li>Phân tích ngữ nghĩa và ngữ dụng của từ.</li>
			<li>Nghiên cứu tần suất và xu hướng sử dụng.</li>
			<li>Hỗ trợ dịch thuật và giảng dạy ngôn ngữ.</li>			
		</ul>
		<p>Với giao diện thân thiện và khả năng xử lý dữ liệu lớn, ViCorpora là trợ thủ đắc lực cho các nhà nghiên cứu, giáo viên, và sinh viên ngôn ngữ học.</p>
	</div>
</div>

<style>
	/* Remove the undeline of the list */
	li a {
		text-decoration: none;
	}

	.about-wrap{
		margin-top: 2rem;
	}
</style>
{{end}}