{{define "content"}}
<div class="container">
	<div class="row align-items-center">
		<div class="col-12 col-sm-2"></div>
		<div class="col-12 col-sm-10">
			<div class="about-wrap">
				<p>Dự án ViCorpora tại <a href="https://tiengviet.io.vn">https://tiengviet.io.vn</a> cung cấp khối liệu
					tiếng Việt với số lượng token rất lớn của 12 triệu đơn vị văn bản (~12,169,000), cùng tính năng KWIC (Keyword in context). Dung lượng tập tin sql chưa nén trước khi index là 93.2 GB. Dữ liệu được thu thập từ các <a href ="/credit">nguồn</a> mở.</p>
				<p>ViCorpora hỗ trợ nghiên cứu và phân tích ngôn ngữ học. KWIC giúp tìm kiếm và hiển thị các từ khóa (ngữ đoạn) trong ngữ cảnh của chúng, giúp hiểu rõ cách một từ hoặc cụm từ được sử dụng trong các văn bản thực tế. Một số ứng dụng thực tế:</p>
				<ul>
					<li>Phân tích ngữ nghĩa và ngữ dụng của từ.</li>
					<li>Nghiên cứu tần suất và xu hướng sử dụng.</li>
					<li>Hỗ trợ dịch thuật và giảng dạy ngôn ngữ.</li>
				</ul>
				<p>Với giao diện thân thiện và khả năng xử lý dữ liệu lớn, ViCorpora là trợ thủ cho các nhà
					nghiên cứu, giáo viên, và sinh viên ngôn ngữ học.</p>
				<p>Stack: MySQL for initial storage. Manticore for indexing and the instant search feature. Backend is written in Golang by Vượng Nguyễn.</p>	
				<p>Roadmap: Parallel corpora, exclusive corpora.</p>						
			</div>
		</div>
		<div class="col-12 col-sm-2"></div>
	</div>
</div>
<style>
	/* Remove the undeline of the list */
	li a {
		text-decoration: none;
	}

	.about-wrap {
		margin-top: 2rem;
	}
</style>
{{end}}