{{define "content"}}
<div class="container"> 
    <div class="row">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-8">
            <div class="row align-items-center mt-6">      
                <p>ViCorpora được phát triển nhờ ý tưởng và nguồn dữ liệu liệu tham khảo sau:</p>
                <ul class="list-unstyled">
                    <li><a class="font_tiengviet-style" href="https://s.ngonngu.net">Dự án S</a></li>
                    <li><a class="font_tiengviet-style" href="https://huggingface.co/datasets/tmnam20/Vietnamese-News/tree/main">tmnam20</a></li>
                    <li><a class="font_tiengviet-style" href="https://github.com/binhvq/news-corpus">binhvq</a></li>
                    <li><a class="font_tiengviet-style" href="https://opus.nlpl.eu/WikiMatrix/corpus/version/WikiMatrix">WikiMatrix</a></li>
                    <li><a class="font_tiengviet-style" href="https://huggingface.co/datasets/phongmt184172/mtet">phongmt184172</a></li>
                    <li><a class="font_tiengviet-style" href="https://huggingface.co/datasets/VTSNLP/vietnamese_curated_dataset">VTSNLP</a></li>
                    <li><a class="font_tiengviet-style" href="https://www.kaggle.com/code/huhuyngun/english-to-vietnamese-with-transformer/">huhuyngun</a></li>
                    <li><a class="font_tiengviet-style" href="https://www.kaggle.com/datasets/haitranquangofficial/vietnamese-online-news-dataset">haitranquangofficial</a></li>
                    <li><a class="font_tiengviet-style" href="https://github.com/VietnamAIHub/Vietnamese_LLMs">VietnamAIHub</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-2"></div>  
    </div>
</div>

<style>
  /* Remove the underline of the list */
  .list-unstyled a {
    text-decoration: none;
  }
</style>
{{end}}
