{{define "content"}}
<div class="container">
<div class = "mt-10">           
        <p>Dự án khối liệu lớn Tiếng Việt xin cảm ơn các tác giả về ý tưởng, nguồn tài liệu tham khảo:</p>
        <li class="list-unstyled">
            <a class ="font_tiengviet-style" href ="https://s.ngonngu.net">S</a>        
            <a  class ="font_tiengviet-style" href ="https://huggingface.co/datasets/tmnam20/Vietnamese-News/tree/main">Vietnamese-News</a>
            <a  class ="font_tiengviet-style" href ="https://github.com/binhvq/news-corpus">news-corpus</a>
            <a  class ="font_tiengviet-style" href ="https://opus.nlpl.eu/WikiMatrix/corpus/version/WikiMatrix">WikiMatrix</a>   
            <a  class ="font_tiengviet-style" href ="https://huggingface.co/datasets/phongmt184172/mtet">mtet</a>   
            <a  class ="font_tiengviet-style" href ="https://www.kaggle.com/datasets?search=vietnamese">kaggle</a> 
            <a  class ="font_tiengviet-style" href ="https://www.kaggle.com/code/huhuyngun/english-to-vietnamese-with-transformer/">en-vi</a> 		
            <a  class ="font_tiengviet-style" href = "https://www.kaggle.com/datasets/haitranquangofficial/vietnamese-online-news-dataset">online-news</a>
            <a  class ="font_tiengviet-style" href = "https://github.com/VietnamAIHub/Vietnamese_LLMs">Vietnamese_LLMs</a>	
        </li>            
  </div>
</div>

<style>
	/* Remove the undeline of the list */
	li a {
    	text-decoration: none;
	}
</style>
{{end}}