{{define "content"}}
<div class="container">
	<div class="row align-items-center">
		<div class="col-12 col-sm-2"></div>
		<div class="col-12 col-sm-8">
			<div class="about-wrap flex-center-column">
				<h5>Thông tin donate</h5>
				<img width="305" src="/static/images/mbbank.png" />
				<br>
				<h5><strong>Các quý bạn đã donation (cập nhật tự động)</strong></h5>
				{{if .DonateData}}
					{{range .DonateData}}
					<small>
						<strong>Amount:</strong> {{.AmountIn}}
						<strong>Tin nhắn:</strong> {{.TransactionContent}}
						<strong>Created:</strong> {{.CreatedAt}}
					</small>
					<hr>
					{{end}}
				{{end}}	
				<p>🐬 Cảm ơn quý bạn đã donate, giúp tôi có thêm sự hỗ trợ để duy trì và phát triển ViCorpora.</p>
				<small>Vượng Nguyễn</small>
			</div>
		</div>
		<div class="col-12 col-sm-2"></div>
	</div>
</div>
<style>
	/* Remove the undeline of the list */
	li a {
		text-decoration: none;
	}

	.about-wrap {
		margin-top: 2rem;
	}

	.flex-center-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
</style>
{{end}}