{{define "content"}}
<div class="container">
	<div class="row align-items-center">
		<div class="col-12 col-sm-2"></div>
		<div class="col-12 col-sm-8">
			<div class="about-wrap flex-center-column">				
				<img width="400" src="/static/images/mbbank.png" />
				<br>
				<h5><strong>Danh sách donation <span style = "font-weight: 500;">(cập nhật tự động)</span></strong></h5>
				<div>
					{{if .DonateData}}
						{{range .DonateData}}
						<small>
							<span class = "text-tiny"><strong style = "font-size: 13px">Amount:</strong> {{.AmountIn}}</span>
							<span class = "text-tiny"><strong style = "font-size: 13px">Message:</strong> {{.TransactionContent}}</span>							
							<span class = "text-tiny"><strong style = "font-size: 13px">Time:</strong> {{.CreatedAt}}</span>
						</small>
						<br>						
						{{end}}
					{{end}}	
				</div>
				<p class = "mt-2">🐬 Cảm ơn quý bạn đã donate, giúp tôi có thêm sự hỗ trợ để duy trì và phát triển ViCorpora.</p>
				<small>Vượng Nguyễn</small>
			</div>
		</div>
		<div class="col-12 col-sm-2"></div>
	</div>
</div>
<style>
	/* Remove the undeline of the list */
	li a {
		text-decoration: none;
	}

	.about-wrap {
		margin-top: 2rem;
	}
	.text-tiny{
		font-size: 13px;		
	}
	.flex-center-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
</style>
{{end}}