{{define "search"}}
<div>
    <form id="corpus_query" action='/query' method='GET'>
        <div class="d-flex justify-content-center align-items-center">
            <input autoFocus name ="keyword" id="input_search" class="form-control" placeholder="Nhập từ khóa..." type="search" />
        </div>
        <br>
        <div class="d-flex justify-content-center align-items-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="corpusOptions" id="inlineRadio1"
                    value="vietnamese">
                <label class="form-check-label" for="inlineRadio1">Vietnamese</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="corpusOptions" id="inlineRadio2"
                    value="vietnamese_english">
                <label class="form-check-label" for="inlineRadio2">Vietnamese-English</label>
            </div>
        </div>
        <br>
        <button type='submit' class="btn-search">Search</button>

    </form>
</div>
<script>

    const search_input = document.querySelector("#input_search");

    window.onload = function(){        
        console.log(search_input)
    }


</script>
{{end}}