{{define "footer"}}
<div class="container">
<footer>
    <p>
      Copyright 2024 Vuong Nguyen
    </p>
    <p>
      Contact information: <a href="contact@vuongnguyen.net">contact@vuongnguyen.net</a>.      
    </p>
    <div>Source of data: 
        <a href ="https://github.com/binhvq/news-corpus">news-corpus</a>
        <a href ="https://opus.nlpl.eu/WikiMatrix/corpus/version/WikiMatrix">WikiMatrix</a>   
        <a href ="https://huggingface.co/datasets/phongmt184172/mtet">mtet</a>   
		<a href ="https://www.kaggle.com/datasets?search=vietnamese">kaggle</a> 
		<a href = "https://www.kaggle.com/datasets/haitranquangofficial/vietnamese-online-news-dataset">online-news</a>
    </div>
  </footer>

  <footer class="pt-5 mt-auto" id="footer">
		<div class="container my-4">
			<div class="row">
				<div class="col-lg-4 mb-4">
					<h5>Dự án <span style="background: var(--s-color-main); color: #fff; padding: 2px 1px;">S</span></h5>
					<p class="mb-2">© Từ 2021 đến nay</p>
					<div class="small"><a href="https://luom.tv/2022/04/25/may-loi-boc-bach-ve-du-an-s/" rel="noreferrer" target="_blank">Sinh ra</a> trong dịch COVID.<br>Được&nbsp;<a href="https://www.paratime.vn" rel="noreferrer" target="_blank">Paratime&nbsp;Studio</a> tài trợ thiết bị.</div>
				</div>
				<div class="col-6 col-sm-3 col-lg-2 mb-4">
					<h5 class ="futura">Giới thiệu</h5>
					<ul class="list-unstyled">
						<li><a class ="futura" href="https://ngonngu.net/du-an-s-cong-cu-tra-cuu-va-xu-li-tieng-viet/635">Dự án S</a></li>
						<li><a class ="futura" href="/bulletin/">Bản tin</a></li>
						<li><a class ="futura" href="https://ngonngu.net/lien-he">Liên hệ</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-lg-2 mb-4">
					<h5 class ="futura">Tìm kiếm</h5>
					<ul class="list-unstyled">
						<li><a class ="futura" href="/corpus/">Ngữ liệu</a></li>
						<li><a class ="futura" href="/syllables/with-rhyme/">Âm tiết theo vần</a></li>
						<li><a class ="futura" href="/words/multi-rhymes/">Từ cùng vần đôi</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-lg-2 mb-4">
					<h5 class ="futura">Công cụ</h5>
					<ul class="list-unstyled">
						<li><a class ="futura" href="/tools/sort/">Sắp xếp</a></li>
						<li><a class ="futura" href="/tools/converters/">Chuẩn hoá i/y</a></li>
						<li><a class ="futura" href="/tools/filtering/">Soát lỗi</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-lg-2 mb-4">
					<h5 class ="futura">Liên kết</h5>
					<ul class="list-unstyled">
						<li><a class ="futura" href="/donate/">Đóng góp</a></li>
						<li><a class ="futura" href="https://www.facebook.com/groups/ngonngu.net/" rel="noreferrer" target="_blank">Cộng đồng</a></li>
						<li><a class ="futura" href="https://ngonngu.net">ngonngu.net</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
{{end}}