{{define "footer"}}
<div class="container">
  <footer class="pt-5 mt-auto" id="footer">
		<div class="container my-4">
			<div class="row">
				<div class="col-lg-4 mb-4">					
					<p class="mb-2">ViCorpora - © Từ 2024 đến nay</p>
					<div class="small">Dự án khối liệu lớn mã mở, khối liệu song ngữ, khối liệu phân loại.</div>
				</div>
				<div class="col-6 col-sm-3 col-lg-2 mb-4">
					<h5 class ="font_tiengviet-style">Giới thiệu</h5>
					<ul class="list-unstyled">
						<li><a class ="font_tiengviet-style" href="https://laptrinh.org/cai-dat-va-import-du-lieu-tren-manticore-bo-melisearch-vi-tieng-viet.html">Stack</a></li>
						<li><a class ="font_tiengviet-style" href="/about">Giới thiệu</a></li>
						<li><a class ="font_tiengviet-style" href="/credit">Credit</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-lg-2 mb-4">
					<h5 class ="font_tiengviet-style">Tính năng</h5>
					<ul class="list-unstyled">
						<li><a class ="font_tiengviet-style" href="/">Ngữ liệu</a></li>
						<li><a class ="font_tiengviet-style" href="/ipa">Bảng phiên âm</a></li>
						<li><a class ="font_tiengviet-style" href="/tokenize">Tách từ</a></li>
						<li><a class ="font_tiengviet-style" href="/phonemizer">Phiên âm hóa</a></li>
					</ul>
				</div>			
				<div class="col-6 col-sm-3 col-lg-2 mb-4">
					<h5 class ="font_tiengviet-style">Liên kết</h5>
					<ul class="list-unstyled">
						<li><a class ="font_tiengviet-style" href="/donate/">Đóng góp</a></li>						
						<li><a class ="font_tiengviet-style" href="https://s.ngonngu.net/">Dự án S</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>

<style>
	#footer a {
        color: #495057;
        text-decoration: none; /* Remove underline */
    }
</style>
{{end}}