
{{define "content"}}
<main class="container">
<div class="bg-body-tertiary p-5 rounded">
  <h1>Navbar example</h1>
  <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
  <a class="btn btn-lg btn-primary" href="/docs/5.3/components/navbar/" role="button">View navbar docs &raquo;</a>
</div>
</main>

<h1>Hello Vietnamese Corpora</h1>
<p>
    Update again. Hi there, this is Vietnamese Corpora <br>
    {{.Message}}
</p>

{{block "statistics" .}}
<div id="statistics">
    <div>Likes: 69</div>
    <div>Follows: 420</div>
</div>
{{end}}

{{block "logs" .}}
<div id="logs">
    <div>Log message 1</div>
    <div>Log message 2</div>
    <div>Log message 3</div>
</div>
{{end}}

{{block "hello" .}}
<div id="logs">
    <p>Hello world </p>
    <div>Log message 2</div>
    <div>Log message 3</div>
</div>
{{end}}

<p>
    Đây là Vietnamese Corpora
</p>


{{end}}

