{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="d-flex justify-content-center align-items-center">
                <h4 class = "ipa__header">International Phonetic Alphabet</h4>
            </div>
            <div class="row align-items-center">
                <div class="table-responsive-sm ">
                    <table class="table table-sm table-bordered table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th colspan="2" scope="col">Bilabial</th>
                                <th colspan="2" scope="col"><span style="font-size: 16.7px;">Labiodental</span></th>
                                <th colspan="2" scope="col">Dental</th>
                                <th colspan="2" scope="col">Alveolar</th>
                                <th colspan="2" scope="col"><span style="font-size: 16.7px;">Postalveolar</span></th>
                                <th colspan="2" scope="col">Retroflex</th>
                                <th colspan="2" scope="col">Palatal</th>
                                <th colspan="2" scope="col">Velar</th>
                                <th colspan="2" scope="col">Uvular</th>
                                <th colspan="2" scope="col"><span style="font-size: 16.7px;">Pharyngeal</span></th>
                                <th colspan="2" scope="col">Glottal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"> Plosive<sup class="sup_illustration">aspirated</sup></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background vietnamese isVietnamese" data-currentphoneme="61"
                                    data-vietnamesephoneme="21"> tʰ** </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row"> Plosive<sup class="sup_illustration">unaspirated</sup></th>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="0"
                                    data-vietnamesephoneme="0" data-englishphoneme="0"> p </td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="1"
                                    data-vietnamesephoneme="1" data-englishphoneme="1"> b </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="2"
                                    data-vietnamesephoneme="2" data-englishphoneme="2"> t </td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="3"
                                    data-vietnamesephoneme="3" data-englishphoneme="3"> d </td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background vietnamese isVietnamese" data-currentphoneme="4"
                                    data-vietnamesephoneme="4" data-englishphoneme="4"> ʈ </td>
                                <td class="ipa_background" data-currentphoneme="5"> ɖ </td>
                                <td class="ipa_background vietnamese isVietnamese" data-currentphoneme="6"
                                    data-vietnamesephoneme="5" data-englishphoneme="5"> c </td>
                                <td class="ipa_background" data-currentphoneme="7"> ɟ </td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="8"
                                    data-vietnamesephoneme="6" data-englishphoneme="6"> k </td>
                                <td class="ipa_background english" data-currentphoneme="9" data-englishphoneme="7"> ɡ
                                </td>
                                <td class="ipa_background" data-currentphoneme="10"> q </td>
                                <td class="ipa_background" data-currentphoneme="11"> ɢ </td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="12"> ʔ </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Nasal</th>
                                <td></td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="13"
                                    data-vietnamesephoneme="7" data-englishphoneme="8"> m </td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="14"> ɱ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="15"
                                    data-vietnamesephoneme="8" data-englishphoneme="9"> n </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="16"> ɳ </td>
                                <td></td>
                                <td class="ipa_background vietnamese isVietnamese" data-currentphoneme="17"
                                    data-vietnamesephoneme="9" data-englishphoneme="9"> ɲ </td>
                                <td></td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="18"
                                    data-vietnamesephoneme="10" data-englishphoneme="10"> ŋ </td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="19"> ɴ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Trill</th>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="20"> ʙ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="21"> r </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="22"> R </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Tap or Flap</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="23"> ⱱ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="24"> ɾ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="25"> ɽ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Affricate*</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background english" data-currentphoneme="59" data-englishphoneme="23"> tʃ
                                </td>
                                <td class="ipa_background english" data-currentphoneme="60" data-englishphoneme="24"> dʒ
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Fricative</th>
                                <td class="ipa_background" data-currentphoneme="26"> ɸ </td>
                                <td class="ipa_background" data-currentphoneme="27"> β </td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="28"
                                    data-vietnamesephoneme="11" data-englishphoneme="11"> f </td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="29"
                                    data-vietnamesephoneme="12" data-englishphoneme="12"> v </td>
                                <td class="ipa_background english" data-currentphoneme="30" data-englishphoneme="13"> θ
                                </td>
                                <td class="ipa_background english" data-currentphoneme="31" data-englishphoneme="14"> ð
                                </td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="32"
                                    data-vietnamesephoneme="13" data-englishphoneme="15"> s </td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="33"
                                    data-vietnamesephoneme="14" data-englishphoneme="16"> z </td>
                                <td class="ipa_background english" data-currentphoneme="34" data-englishphoneme="17"> ʃ
                                </td>
                                <td class="ipa_background english" data-currentphoneme="35" data-englishphoneme="18"> ʒ
                                </td>
                                <td class="ipa_background vietnamese isVietnamese" data-currentphoneme="36"
                                    data-vietnamesephoneme="15"> ʂ </td>
                                <td class="ipa_background vietnamese isVietnamese" data-currentphoneme="37"
                                    data-vietnamesephoneme="16" data-englishphoneme="16"> ʐ </td>
                                <td class="ipa_background" data-currentphoneme="38"> ç </td>
                                <td class="ipa_background" data-currentphoneme="39"> ʝ </td>
                                <td class="ipa_background vietnamese isVietnamese" data-currentphoneme="40"
                                    data-vietnamesephoneme="17" data-englishphoneme="17"> x </td>
                                <td class="ipa_background vietnamese isVietnamese" data-currentphoneme="41"
                                    data-vietnamesephoneme="18" data-englishphoneme="18"> ɣ </td>
                                <td class="ipa_background" data-currentphoneme="42"> χ </td>
                                <td class="ipa_background" data-currentphoneme="43"> ʁ </td>
                                <td class="ipa_background" data-currentphoneme="44"> ħ </td>
                                <td class="ipa_background" data-currentphoneme="45"> ʕ </td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="46"
                                    data-vietnamesephoneme="19" data-englishphoneme="19"> h </td>
                                <td class="ipa_background" data-currentphoneme="47"> ɦ </td>
                            </tr>
                            <tr>
                                <th scope="row">Lateral fricative</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="48"> ɬ </td>
                                <td class="ipa_background" data-currentphoneme="49"> ɮ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Approximant</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="50"> ʋ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background english" data-currentphoneme="51" data-englishphoneme="20"> ɹ
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="52"> ɻ </td>
                                <td></td>
                                <td class="ipa_background english" data-currentphoneme="53" data-englishphoneme="21"> j
                                </td>
                                <td></td>
                                <td class="ipa_background english" data-currentphoneme="54" data-englishphoneme="25"> ɰ
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Lateral approximant</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background vietnamese isVietnamese english" data-currentphoneme="55"
                                    data-vietnamesephoneme="20" data-englishphoneme="22"> l </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="56"> ɭ </td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="57"> ʎ </td>
                                <td></td>
                                <td class="ipa_background" data-currentphoneme="58"> ʟ </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-flex container__ipa-result">
                <div class="common_square-btn flex-center hover-pointer btn_vietnamese" _msttexthash="156741"
                    _msthash="197"> Vietnamese </div>
                <div class="reset-btn flex-center hover-pointer" _msttexthash="792519" _msthash="198"> ∅ </div>
                <div class="common_square-btn flex-center hover-pointer btn_english buttonIsSelected"
                    _msttexthash="94341" _msthash="199"> English </div>

                <div class="check__IPA ipa__result-common disableOnMobile" style="padding-left: 0.5rem;">
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .ipa__header{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .ipa_background{
        background-color: #fff3cd!important;        
        text-align: center;
        /* font-size: 1.4rem !important;         */
    }
   
    .ipa_center{    
        display:flex;
        justify-content: center;
        align-items: center;
    }
</style>
{{end}}