{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-8">
            <div class="row align-items-center mt-6">

                <h6 class="mb-4"><strong>Convert sang phonetics</strong></h6>
                <form hx-post="/phonemizer" hx-target="#response" hx-on:htmx:error="alert('An error occurred!')"
                    hx-indicator="#loading">
                    <textarea id="textarea" name="textarea" class="form-control w-100" rows="6"
                        placeholder="Nhập tiếng Anh hoặc tiếng Việt..."></textarea>

                    <div id="loading" style="display: none;">Đang xử lý...</div>
                    <br>
                    <button class="phonetics_btn" value="vietnamese" name="language" type="submit">Vietnamese</button>
                    <button class="phonetics_btn" value="english" name="language" type="submit">English</button>
                </form>
                <small>Nhập văn bản tiếng Việt hoặc Anh để chuyển đổi sang âm vị.</small>
                <div id="response"></div>
            </div>
        </div>
        <div class="col-12 col-sm-2"></div>
    </div>
</div>

<style>
    #textarea {
        padding: 5px;
    }

    .phonetics_btn {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 6px;
        padding: 0 6px;
        transition: transform 0.3s ease;
    }

    .phonetics_btn:hover {
        transform: scale(1.1);
        color: white;
        font-weight: 900;
        border: none;
        background-color: var(--color-main);
    }
</style>
{{end}}