{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-8">
            <div class="row align-items-center mt-6">                
                <small id = "phonemizer_heading">Chuyển đổi tiếng Việt hoặc Anh sang phonetics - âm vị.</small>
                <form hx-post="/phonemizer" hx-target="#response" hx-on:htmx:error="alert('An error occurred!')"
                    hx-indicator="#loading">
                    <textarea id="textarea" name="textarea" class="form-control w-100" rows="6"
                        placeholder="Nhập tiếng Anh hoặc tiếng Việt..."></textarea>

                    <div id="loading" style="display: none;">Đang xử lý...</div>
                    <br>
                    <button class="phonetics_btn btn btn-outline-primary" value="vietnamese" name="language" type="submit">Vietnamese</button>
                    <button class="phonetics_btn btn btn-outline-success" value="english" name="language" type="submit">English</button>
                </form>                
                <div id="response"></div>
            </div>
        </div>
        <div class="col-12 col-sm-2"></div>
    </div>
</div>

<style>
    #phonemizer_heading{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #textarea {
        padding: 7px;
        border-radius: 2px;
    }

    .phonetics_btn {
        margin-top: 1.5rem;
        padding-top:3px!important;
        padding-bottom:3px!important;
        border-radius: 2px;
        margin-bottom: 2rem;
        margin-left: 6px;        
        transition: transform 0.3s ease;
        width: 150px;
    }

    .phonetics_btn:hover {
        transform: scale(1.1);
        color: white;
        font-weight: 900;
        border: none;
        background-color: var(--color-main);
    }
</style>
{{end}}